/*=================================================
Typography Component
=================================================*/

html {
    color: #403E3C;
}

a {
    color: #5B8EA8;
}

/*=================================================
Header Component
=================================================*/

header {
    background-color: #F7B6BD;
    padding: 2rem;
}

/*=================================================
Footer Component
=================================================*/

footer {
    background-color: #FFD6DA;
    padding: 2rem;
}
